.cell-wrapper {
  min-width: 25%;
  min-height: 25%;
  border-radius: 15px;
  border: 8px solid $grey;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
  background: $darkGrey;
}

.cell {}

.cell-2 {
  color: #776e65;
  background: #eee4da;
}
.cell-4 {
  color: #776e65;
  background: #ede0c8;
}
.cell-8 {
  background: #f2b179;
}
.cell-16 {
  background: #f59563;
}
.cell-32 {
  background: #f67c5f;
}
.cell-64 {
  background: #f65e3b;
}
.cell-128 {
  background: #edcf72;
}
.cell-256 {
  background: #edcc61;
}
.cell-512 {
  background: #edc850;
}
.cell-1024 {
  background: #edc53f;
}
.cell-2048 {
  background: #edc22e;
}
