.board-wrapper {
  width: 400px;
  height: 400px;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  background: $grey;
}

@media screen and (max-width: 425px) {
	.board-wrapper {
		width: 300px;
    height: 300px;
    font-size: 18px;
	}
}
