#game {
  margin: 50px auto;
  display: inline-block;
}

.game-controls {
  display: flex;
  justify-content: space-between;
}

.btn-group {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .btn-group {
      margin: 0;
  }
}
